/* Sovrascrivo alcune regole del framework */
*{
  margin: 0;
  padding: 0;
}

.row{
  margin: 2% 0 ;
}


header{
  background-color: #2C3E50;
}


/* Regole generali di stile */
h1, h2{
  font-size: 3em;
  font-weight: bold;
}

footer{
  font-size: 1.3em;
  font-weight: bold;
}

a{
  color: white;
}

img{
  max-height: 250px;
  width: auto;
}

section{
  padding: 4% 0;
}

/* Per togliere il margine aggiunto alle colonne dove non serve*/
header [class*="col-"],
footer [class*="col-"]{
  margin-bottom: 0px;
}

[class*="col-"]{
  margin-bottom: 4%;
}

.divider-custom{
  margin: 4% 0;
}

.my-button{
  border: 2px solid white;
  padding: 3%;
  border-radius: 5px;
  font-size: 1.5em;
  background-color: #1ABC9C;
  color: white;
}



/* Regole specifiche di stile per Sezione */
#section_2 .container,
#section_3 .container{
  max-width: 50%;
}



/* divider */
.divider-custom{
  position: relative;
  display: flex;
  justify-content: center;
}

.divider-custom div{
  float: left;

}


.divider-custom .divider-white{
  width: 100%;
  max-width: 10rem;
  height: .25rem;
  background-color: white;
  border-radius: 1rem;
  margin-top: 8px;
  border-color: white;
}

.white .star i{
  color: white;
}

.divider-custom .divider-black{
  width: 100%;
  max-width: 10rem;
  height: .25rem;
  background-color: #2c3e50;
  border-radius: 1rem;
  margin-top: 8px;
  border-color: #2c3e50;
}

.divider-custom .star i{
  margin: 0 10px;
}



/* Blocco Header */
#mainNav{
  font-family: Montserrat,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-weight: 700;
}



/* Section 0 */
#section_0{
  background-color: #1ABC9C;
  color: white;
}




/* Section 1 */
.portfolio-item-caption{
  display: none;
 background-color: #1ABC9C;
}
.fa-plus:before {
    content: "\f067";
}

.portfolio-item img{
  /* display: none; */
}



/* Section 2 */
#section_2{
  background-color: #1ABC9C;
  color: white;
}



/* Section 3 */
/* Sovrascrivo classe del form di Bootstrap */
#section_3 form input{
  width: 100%;
  border: none;
  border-bottom: 1px solid lightgrey;
  line-height: 4;
  font-size: 1.5em;
  color: lightgrey;
}



/* footer */
footer{
  color: white;
  background-color: #2f567c;
}

footer a{
  color: #1ABC9C;
}
footer a:hover{
  color: #2C3E50;
  text-decoration: underline;
}

footer .ico-hover i:hover{
  color: #2C3E50;
}
footer .ico-hover a{
  padding: 5px;
}

.bg-footer{
  background-color: #2C3E50;
}


/* Classi ausiliarie */
.mt-4{
  margin-top: 10px;
}

.h-100{
  height: 100%;
}

.w-100{
  width: 100%;
}

.mr-2{
  margin-right: 1%;
}

/* Media Query */

@media all screen and (min-width: 768px) {

  #section_2 .container,
  #section_3 .container{
    width: 100%;
  }

}
