/* Sovrascrivo alcune regole del framework */
*{
  margin: 0;
  padding: 0;
}

/* .container{
  width: 80%;
  margin: 0 auto;
} */



header{
  background-color: #2C3E50;
}

/* Regole generali di stile */
a{
  color: white;
}


/* Blocco Header */
#mainNav{
  font-family: Montserrat,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-weight: 700;
}

/* Section 0 */
#section_0{
  background-color: #1ABC9C;
}

img{
  max-height: 250px;
  width: auto;
}



/* footer */
footer{
  color: white;
  background-color: #2f567c;
}

footer a{
  color: #1ABC9C;
}
footer a:hover{
  color: #2C3E50;
  text-decoration: underline;
}

.bg-footer{
  background-color: #2C3E50;
}





/* Classi ausiliarie */
.mt-4{
  margin-top: 10px;
}
